<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ApiManager</title>
    <link rel="stylesheet" href="/static/login/index.css">
    <link rel="stylesheet" href="/static/login/style.css" type="text/css"/>
</head>
<body>
<div id="app">
    <div class="content">
        <div class="content_input">
            <div class="title">
                <p>ApiManager</p>
            </div>
            <el-input v-model="UserName" clearable placeholder="username"></el-input>
            <el-input v-model="PassWord" clearable show-password placeholder="password"></el-input>
            <div class="content_button">
                <el-button type="primary" @click="SignIn">Login</el-button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/login/ribbon.js"></script>
<script type="text/javascript" src="/static/vue.js"></script>
<script type="text/javascript" src="/static/vue-resource.min.js"></script>
<script type="text/javascript" src="/static/login/index.js"></script>
</body>
</html>